.friend_list{
  grid-area: followList;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  border: 0px solid black;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas: "name" "lof" "pnb";
  height: 400px;
  margin-left: 39px;
  margin-right: 39px;
}


.list_of_friends{
  grid-area: lof;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(6, 1fr);
}
.list_of_friends .friendElem{
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
  align-items: center;
  border: 0px solid black;
}
.friendElem img{
  max-height: 35px;
  height: 100%;
  width: auto;
  max-width: 35px;
}

.pagesNButtons{
  grid-area: pnb;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'bf' 'lff';
}
.pagesNButtons .bf{
  grid-area: bf;
  display:grid;
  grid-template-columns: 2fr 3fr 2fr;
  padding-top: 2px;
}

.n{
  background-color: black;
  color: white;
  padding-top: 4%;
}

.butt1 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.butt1:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.butt1:hover {
  transform: translateY(-1px);
}
.butt1:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.friend_list a{
  text-decoration: none;
  color: black;
}
.friend_list a:hover{
  border: 1px solid black;
}

.lff{
  grid-area: lff;
  display: grid;
  width: 100%;
  height: 100%;
}
